<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ridmik.board.ador" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:backupAgent="net.hasnath.android.keyboard.LatinIMEBackupAgent" android:icon="@drawable/ridmikand" android:killAfterRestore="false" android:label="@string/english_ime_name" android:theme="@style/AppBaseTheme">
        <service android:label="@string/english_ime_name" android:name="net.hasnath.android.keyboard.LatinIME" android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method"/>
        </service>
        <activity android:label="@string/english_ime_settings" android:name="net.hasnath.android.keyboard.LatinIMESettings" android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/english_ime_settings" android:name="net.hasnath.android.keyboard.LatinIMESettingsKeyboardHeight" android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="net.hasnath.android.keyboard.KEY_HEIGHT_PREF"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/english_ime_debug_settings" android:name="net.hasnath.android.keyboard.LatinIMEDebugSettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:label="About" android:name="net.hasnath.android.keyboard.AboutActivity" android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="net.hasnath.android.keyboard.AboutActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="Keymap" android:name="net.hasnath.android.habijabi.WebViewActivity" android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="net.hasnath.android.habijabi.WebViewActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/english_ime_name" android:name="net.hasnath.android.habijabi.MainActivity" android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
